<template name="nav">

        <header>

                <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a></div>

                <ul id="nav-mobile" class="side-nav fixed">
                        <li class="logo"><a href="/"><h2>Olumide</h2></a></li>

                        <li class="bold"><a href="/work" class="waves-effect waves-grey">Work</a></li>
                        <li class="bold"><a href="/blog" class="waves-effect waves-grey">Random Musings</a></li>
                        <li class="bold"><a href="/now" class="waves-effect waves-grey">Now</a></li>
                        <li class="bold"><a href="/contact" class="waves-effect waves-grey">Say hi</a></li>
                </ul>
        </header>


</template>
